{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<aside class="col-md-4 float-right">
<div class="card my-4 related-post">
        <h4 class="card-header">Related Blog Posts</h4>
        <div class="card-body">
            <ul class="card-text">
                {% for post in related_post %}


                    <li>
                        <a ><small>{{post.stage}}</small></a>, <a><small>{{post.department.name}}</small></a>
                    <br /><a href="{% url 'post_detail' post.slug %}">{{post.title}}</a>
                    </li>

                {% endfor %}
            </ul>

        </div>
</div>

<div class="card my-4 contact-us">
    <h4 class="card-header">Contact Us</h4>
    <div class="card-body">
        <p class="card-text">
            Are you looking for online strategies to grow your business? Or, do you need
             guidance on your next project?
        </p>

        <p>
            <strong>Book An Appointment Now! </strong>
        </p>
        <a href="mailto:ezekiel.obhafuoso@analyticshub.tech?Subject=Hello%20"
           class="btn">Email: info@analyticshub.tech</a><br />
           <a href=""
              class="btn">WhatsApp/ Call: +2347083049565</a>

    </div>
</div>

<!-- <div class="contact-clean" id='contact'>
    <form  method="post" data-aos="zoom-in">
        {% csrf_token %}
        <h2 class="text-center">Contact us</h2> {% if '/success' in request.path %}
        <p style="color: #008000; font-size: 1.5vw;">
            Thank you for your message. We will get back to you within 24hrs.
            <a > <small>Click here to see home page.</small></a>
        </p>
        {% endif %}
        <div class="form-group">
            <input class="form-control" type="text" name="subject" placeholder="Subject">
        </div>
        <div class="form-group">
            <input class="form-control is-invalid" type="email" name="from_email" placeholder="Email"> {% if '/success' in request.path %} <small style='display:none'>{% endif %}
            {% if '/success' not in request.path %}<small class="form-text text-danger">{% endif %}
                Please enter a correct email address.</small>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="14" name="message" placeholder="Message"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">send </button>
        </div>
    </form>
</div> -->
</aside>
<!-- <aside>
    <div class="card">
        <h5 class="card-header">Relate Post</h5>

        <h5>{{stage}}</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</aside> -->

{% endblock sidebar %}
