{% extends 'index.html' %}
{% load static%}


{% block page_video %}
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static "/ezekielpost/img/Man_addressing_meeting_2.mp4" %}" type="video/mp4">
  </video>
{% endblock %}
         
{% block page_heading %}
  <p>Business Growth Starts with the Right Partners</p>
  <a href="mailto:ezekiel.tech@analyticshub.tech?Subject=Book%20appointment" target="_top" class="btn">Book a FREE Consultation Now</a>
{% endblock %}
              
{% block replace_indexhtml_content %}
<section  class='services'>
  <div class="row points">
      <div class="col-md-4">
          <img src="{% static 'ezekielpost/img/computer.png'%}">
          <h3><strong>Smart Techniques</strong></h3>
          <p> We apply personalised industry best practises for your business. </p>
        </div>
        <hr>
        <div class="col-md-4">
            <img src="{% static 'ezekielpost/img/people.png'%}">
            
            <h3><strong>Connected Ideas</strong> </h3>
            <p>We define your business
              requirements, set up KPIs, implement startegies and optimize result.
            </p>
          
        </div>
        <hr>
        <div class="col-md-4">
            <img class='img-fluid' src="{% static 'ezekielpost/img/growth.png'%}">
            <h3><strong>Smart Growth</strong> </h3>
            <p> Our goal is growth. Local Relevance, Global Impact</p>
          
        </div>
  </div>
  <div class="services">
    <h2>Our Expertise</h2>
      {% for service in department_list %}
      <div class="row">
        <img class='img-fluid' style="width: 100%;" src="{{service.image.url}}">
        
        <div class="col-md-5">
          <div class="col-md-12"><h3>{{service.name}}</h3></div>
          <div class="col-md-12">
            {{service.sales_point}} 
            <!-- <a href="{% url 'department_detail' service.slug  %}" class="btn">Read More &rarr;</a> -->
          </div>
          
        </div>
      </div>
      <hr>
      
      {% endfor %}
  </div>
 
  
      <div class="card text-center my-4 contact-us" style="background-color: rgb(33, 45, 60, .8); color: white;">
          <h4 class="card-header">Contact Us</h4>
          <div class="card-body">
              <p class="card-text">
                  Are you looking for online strategies to grow your business? Or, do you need
                   guidance on your next project?
              </p>
      
              <p>
                  <strong>Book An Appointment Now! </strong>
              </p>
              <a href="mailto:ezekiel.obhafuoso@analyticshub.tech?Subject=Hello%20"
                 class="btn">Email: info@analyticshub.tech</a><br />
                 <a href=""
                    class="btn">WhatsApp/ Call: +2347083049565</a>
      
          </div>
      </div>
      
</section>
<hr>
{% endblock %}
