{% extends "base.html" %}
{% load static%}
{% block content %}
<style>

</style>

<header class="mastead">
    <div class="container">
        <div class="row">
            {% block page_video %}
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="{% static "/img/Man_addressing_meeting_2.mp4" %}" type="video/mp4">
            </video>
            {% endblock %}
            <div class="index-site-heading col-md-8">
                <div class="site-heading">
                    {% block page_heading %}
                    <h3>What We Do:<br /><span id="spin" style="font-weight:bold"></span></h3>
                       <p><small>
                           We partner with our clients for Business Growth & Personnel Development.
                           No Guess Work. Deep research that drives result.
                           </small>
                       </p>
                       <a href="{% url 'departments' %}"
                          class="btn">Learn More</a>
                          {% endblock %}
                </div>
            </div>
        </div>
    </div>
</header>
<hr />

<section id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">
<div class="row">
  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!-- Indicators -->
  <ol class="carousel-indicators">
      {% for case_study in list_of_case_studies %}
    <li data-target="#carousel-example-multi" data-slide-to="{{forloop.counter0}}" {%if forloop.first%}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <!--/.Indicators-->

  <div class="carousel-inner v-2" role="listbox">
    {% for case_study in list_of_case_studies %}
    <div class="carousel-item {% if forloop.first %} active {% endif %}">
      <div class="col-12 col-md-4">
        <div class="card mb-2">
          <img class="card-img-top" src="{{case_study.post_image.url}}" alt="{{case_study.post_image_alt}}">
          <div class="card-body">
            <h4 class="card-title font-weight-bold">{{case_study.title}}</h4>
            <p class="card-text">{{case_study.focus}}</p>
            <a class="btn btn-primary btn-md btn-rounded" href="{% url 'post_detail' case_study.slug %}">Read more</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</section>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <h2 class="text-center" style="font-weight:bold">Recent Blog Posts</h2>
            {% block post_list %}
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">

                    <p class="card-department h6">{{ post.department}} | {{ post.stage}} | {{ post.industry.name}} </p>
                    <h2 class="card-title">{{ post.title }}</h2>

                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
            {% endblock %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}

<script>
    $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));

  for (var i=0;i<4;i++) {
    next=next.next();
    if (!next.length) {
      next=$(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
  }
});
</script>