{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About This Blog</h5>
    <div class="card-body">
        <p class="card-text">
            Writing empowers the next wave of potential Problem Solvers.<br /><hr />
            I write, not from a place of perfection, but from a place of Growth.
            It's been pure joy planning and executing technological solutions to business problems.
            I look forward to more successes in this journey, and that writing about this journey
            motivates someone else. Have feedback >>
        </p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn btn-danger">Have feedback? Send Me a Mail</a>
    </div>
</div>
</div>

{% endblock sidebar %}
