{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<aside class="col-md-4 float-right">
<div class="card my-4">
        <h4 class="card-header">About Us</h4>
    <div class="card-body">
        <p class="card-text">
            <strong>Why Analytics Hub?</strong><br /> Because success is repeatable. It has a rhythm. We sing the rhythm of business success.<hr />
            <strong>What Excites Us?</strong><br /> Business Growth. Skill Development. Local Impact. Global Relevance.<hr />
            <strong>What's Our Task?</strong> <br />Plan, Execute and Optimize technological solutions to business problems.
            <hr />
        </p>
        <a href="mailto:ezekiel.obhafuoso@analyticshub.tech?Subject=Hello%20" target="_top"
           class="btn">Have feedback? Send Us a Mail</a>
    </div>
</div>
</aside>

{% endblock sidebar %}
